/* I am
******************************/
html, body{height:100%; width:100%;}
body{margin:0; padding:0; background-color:#fff; color:#333; font:14px /1.2 Tahoma, Geneva, sans-serif;}

a{outline:none; cursor:pointer; text-decoration:none; color:blue;
	-moz-transition:color, border-bottom-color;
	-o-transition:color, border-bottom-color;
	-webkit-transition:color, border-bottom-color;
	transition:color, border-bottom-color;
}
@media only screen and (min-width:1004px){
	a:hover, .footer a:hover{color:orange;
		-moz-transition-duration:.08s;
		-o-transition-duration:.08s;
		-webkit-transition-duration:.08s;
		transition-duration:.08s;
	}
}
	a img{border:none;}

:focus{outline:none;}

h1, h2, h3, h4, p, form, input, table, tr, td, th, ul, li{margin:0; padding:0; font-weight:normal;}
header, section, footer, aside, nav, article, figure{display:block;}
table, tr, td{border:0; border-collapse:collapse; vertical-align:top; text-align:left;}
sup{position:relative; bottom:1.2ex; font-size:.7em; line-height:1; vertical-align:baseline;}

.text_input, textarea, select, .select{position:relative; background-color:#fff; border:1px solid #0097e6; border-radius:5px; vertical-align:top; color:#474745; font:13px Arial, Helvetica, sans-serif;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.text_input{padding:0 10px; height:34px;}
	.text_input:focus, textarea:focus{}
	.input .text_input{width:100%;}

textarea{padding:5px 10px; resize:vertical;}

select{height:30px; padding:2px;}

::-webkit-input-placeholder{color:#989795;}
:-moz-placeholder{color:#989795 !important;}
::-moz-placeholder{color:#989795 !important;}
:-ms-input-placeholder{color:#989795;}
.placeholder{color:#989795 !important;}

ul{list-style:none;}

	p + p{padding-top:12px;}

/* Base
******************************/
.hide{display:none !important;}
.float_l{float:left;}
.float_r{float:right;}
.row{overflow:hidden;}
.clear{clear:both !important; font-size:0 !important;}
.clearfix:after{content:''; clear:both; display:block;}
.nodecor, .spec_decor{text-decoration:none; border-bottom:none;}
.nowrap{white-space:nowrap;}
.bold{font-weight:bold;}

.dotted{border-bottom:1px dotted;}

.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}

.black{color:#333;}
.white{color:#FFF;}
.red, .binding{color:red !important;}
.green{color:green;}
.orange{color:#ff7e00;}
.blue{color:blue;}
.gray{color:#999;}

.img_box{overflow:hidden; position:relative; font-size:0;}
	.img_box img{max-width:100%; max-height:100%; margin:auto; font-size:11px; color:#999;}

/*btns*/
.btn_stl{display:inline-block; overflow:hidden; position:relative; vertical-align:top; height:30px; padding:0 10px; border-radius:4px; color:#fff; font-size:14px; font-weight:bold; line-height:28px; text-align:center; text-decoration:none !important; text-shadow:0 -1px 1px RGBA(0,0,0,.4); cursor:pointer;

	background:-webkit-linear-gradient(top, #00a8ff 0, #0088ce 100%);
	background:linear-gradient(to bottom, #00a8ff 0, #0088ce 100%);

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	-moz-transition:background .15s;
	-o-transition:background .15s;
	-webkit-transition:background .15s;
	transition:background .15s;

	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}

	.btn_stl:hover{color:#fff;
		background:-webkit-linear-gradient(top, #00a8ff 0, #00659a 100%);
		background:linear-gradient(to bottom, #00a8ff 0, #00659a 100%);
	}

	.btn_stl:active{
		-webkit-box-shadow:inset 0 2px 4px RGBA(0,0,0,.5);
		box-shadow:inset 0 2px 4px RGBA(0,0,0,.5);

		background:-webkit-linear-gradient(top, #00a8ff 0, #00659a 100%);
		background:linear-gradient(to bottom, #00a8ff 0, #00659a 100%);
	}

	.btn_stl + .btn_stl{margin-left:10px;}

.btn_stl.disabled{background:#dedede !important; border-color:#ccc !important; color:#808080 !important; text-shadow:none !important; cursor:default;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}


/* Main
******************************/
.main{min-width:320px; max-width:1110px; min-height:100%; position:relative; margin:0 auto; background-color:#fdfdfd; 
	-webkit-box-shadow:0 0 6px RGBA(0,0,0,.15);
	box-shadow:0 0 6px RGBA(0,0,0,.15);
}
	.wrapper{max-width:990px; margin:0 5%;}


/* header
******************************/
header{padding:10px 0; font:16px Georgia,'Times New Roman',Times,serif;}
	header .wrapper{padding-bottom:25px; border-bottom:1px solid #e6e6e6;}
	header a{color:black; text-shadow:1px 1px rgba(255,255,255,.7);}

.logo{font-style:italic; text-shadow:1px 1px rgba(255,255,255,.7);}
.profile{float:right; margin-left:10px; padding-left:12px;}
	.profile .icon{position:relative; display:inline-block; width:10px; height:10px; border:1px solid; border-radius:50%; margin:0 2px 0 -12px;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
	}
		.profile .icon:before{content:''; position:absolute; display:block; width:0; height:0; left:2px; top:3px; border:1px solid;
			-webkit-box-shadow:4px 0;
			box-shadow:4px 0;
		}
		.profile .icon:after{content:''; position:absolute; display:block; bottom:2px; left:2px; width:6px; height:5px; border-radius:50%; border-style:solid; border-width:0 0 1px 0;}


/* Content
******************************/
.content{padding:40px 0 100px; line-height:1.4;}

h1, .alt_h1{padding-bottom:15px; font-size:20px; line-height:24px;}
h2{padding:10px 0; color:black; font-size:16px; line-height:1.2;}

	section + section{margin-top:20px;}

/*THIS CSS*/
.main_banner{position:relative; width:100%; height:480px; margin-bottom:40px; border-bottom:1px solid #dbdcdb;}
.rotator_body{position:relative; width:100%; height:100%; overflow:hidden;}
	.rotator_body > ul{position:relative; width:100%; height:100%;}
	.rotator_body .slide{position:absolute; overflow:hidden; width:100%; height:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

/*styles for arrows*/
	.main_banner .rotator_nav{position:absolute; top:0; width:40px; height:100%; background:rgba(255,255,255,.5); opacity:0; cursor:pointer; z-index:10;
		-webkit-transition:opacity .3s;
		-o-transition:opacity .3s;
		transition:opacity .3s;
	}
	.main_banner .rotator_nav.left{left:0;}
		.main_banner .rotator_nav.left:before,
		.main_banner .rotator_nav.left:after,
		.main_banner .rotator_nav.left .icon,
		.main_banner .rotator_nav.left .icon:before,
		.main_banner .rotator_nav.left .icon:after{position:absolute; top:50%; border-style:solid; border-width:2px 2px 2px 0; border-color:transparent #666 transparent transparent;}

		.main_banner .rotator_nav.left:before{content:''; left:10px; height:12px; margin-top:-6px;}
		.main_banner .rotator_nav.left:after{content:''; left:14px; height:16px; margin-top:-8px;}
		.main_banner .rotator_nav.left .icon{left:18px; height:20px; margin-top:-10px;}
		.main_banner .rotator_nav.left .icon:before{content:''; left:4px; height:24px; margin-top:-14px;}
		.main_banner .rotator_nav.left .icon:after{content:''; left:8px; height:28px; margin-top:-16px;}

	.main_banner .rotator_nav.right{right:0;}
		.main_banner .rotator_nav.right:before,
		.main_banner .rotator_nav.right:after,
		.main_banner .rotator_nav.right .icon,
		.main_banner .rotator_nav.right .icon:before,
		.main_banner .rotator_nav.right .icon:after{position:absolute; top:50%; border-style:solid; border-width:2px 0 2px 2px; border-color:transparent transparent transparent #666;}

		.main_banner .rotator_nav.right:before{content:''; right:10px; height:12px; margin-top:-6px;}
		.main_banner .rotator_nav.right:after{content:''; right:14px; height:16px; margin-top:-8px;}
		.main_banner .rotator_nav.right .icon{right:18px; height:20px; margin-top:-10px;}
		.main_banner .rotator_nav.right .icon:before{content:''; right:4px; height:24px; margin-top:-14px;}
		.main_banner .rotator_nav.right .icon:after{content:''; right:8px; height:28px; margin-top:-16px;}

		.main_banner:hover .rotator_nav{opacity:.5;}
		.main_banner .rotator_nav:hover{opacity:1;}

/*styles for buttons*/
	.main_banner .rorator_move{position:absolute; bottom:20px; left:50%; width:50%; margin-left:-25%; text-align:center;}
		.main_banner .mover{display:inline-block; width:14px; height:14px; background-color:#fff; border-radius:50%; opacity:.7; cursor:pointer;}
		.main_banner .mover + .mover{margin-left:10px;}
		.main_banner .mover.sel{background-color:#00A8FF;}

/*styles for text*/
	.main_banner .label{padding:100px 0 0 100px; max-width:400px;}
	.main_banner .title{color:#fff; font-weight:bold; font-size:26px; text-transform:uppercase;}
	.main_banner .text{font-size:18px; line-height:30px; color:#000; text-shadow:1px 1px 1px rgba(255,255,255,0.5);}
		.main_banner .title + .text{padding-top:15px;}
	.main_banner .btn_stl{margin-top:25px;}
/*THIS CSS EOF*/

section li{padding:3px 0 2px 15px;}
	section li:before{content:''; display:block; width:4px; height:4px; position:absolute; margin:9px 0 0 -12px; background-color:orange;}
	section pre{margin:10px 0 8px;}


/* Footer
******************************/
footer{position:absolute; bottom:0; left:0; height:70px; width:100%;}
	footer .wrapper{padding-top:25px; overflow:hidden; border-top:1px solid #e6e6e6; color:gray;}
	footer a{color:gray;}
	.creater{float:right; margin-right:10px;}
	.footer a{color:gray;}


/*Responce
******************************/
@media only screen and (max-width:767px){
	h1{padding-bottom:15px; font-size:1.5em;}
	pre{font-size:10px;}
	.main_banner{height:250px;}
	.main_banner .label{padding:20px 45px 0; max-width:100%;}
	.main_banner .title{color:#fff; font-weight:bold; font-size:16px; text-transform:uppercase;}
	.main_banner .text{font-size:14px; line-height:1.2; color:#000; text-shadow:1px 1px 1px rgba(255,255,255,0.5);}
		.main_banner .title + .text{padding-top:15px;}
	.main_banner .btn_stl{margin-top:25px;}
}